body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.coelhos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coelho-container {
    margin: 10px;
    text-align: center;
}

.coelho {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.genotipo-label {
    display: block;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

[data-genotipo="BB"] .genotipo-label {
    background-color: #000;
}

[data-genotipo="BC"] .genotipo-label {
    background-color: #888;
}

[data-genotipo="CC"] .genotipo-label {
    background-color: #fff;
    color: #000;
}

.hidden {
    display: none;
}
